html,body, #wrapper{
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#aboveMap{
	z-index: 1;
	position: absolute;
}
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}
#placeInfo{
	background-color: white;
	margin: 20px;
	padding: 15px;
	border-radius: 25px;
	border-style: solid;
    border-color: #000;
}
#placeInfo h1, #placeInfo p {
	margin: 5px;
}
#placeInfo h1 {
	font-size: 30px;
}
#placeInfo p {
	font-size: 20px;
}

#aboveMap img{
	height: 200px;

	position: fixed;
	left: 50%;
	bottom: 5%;

	margin-top: -100px; /* Negative half of height. */
	margin-left: -100px; /* Negative half of width. */
}

@media (max-width: 765px) {
    #aboveMap img{
		height: 100px;

		margin-top: -50px; /* Negative half of height. */
		margin-left: -50px; /* Negative half of width. */
	}
	#placeInfo h1 {
		font-size: 20px;
	}
	#placeInfo p {
		font-size: 10px;
	}

}

/* The alert message box */
.alert{
    position: fixed;
    z-index: 5;
    right: 0px;
    top: 0px;
    padding: 10px;
    background-color: white;
    color: black;
    margin: 50px;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
    /*box-shadow: 2px 2px 5px rgba(34,34,34,0.6);*/
    border-radius: 25px;
	border-style: solid;
    border-color: #000;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.alert .closebtn {
    padding-right: 10px;
}

.closebtn:hover {
    color: grey;
}
